      </section>

      <footer class="page-footer">
         <div class="h-card vcard">
            <p>
               My name is <a href="https://www.iamsim.me/" class="p-name u-url url author metatag" rel="me">Simon</a> and I'm
               a co-founder and iOS developer at <a href="http://filibaba.com">Filibaba</a>. I live outside Gothenburg with my dogs and cats.
            </p>
            <p>
               I don't really like emails, but if you want to contact me &mdash; for some reason &mdash; you can reach me at
               <a href="mailto:hi@iamsim.me" class="u-email email metatag" rel="me">hi@iamsim.me</a>
            </p>
            <p>
               All content and code on this site is provided under the MIT license.
            </p>
         </div>
         <nav>
            <ol>
               <li><a rel="me" href="https://twitter.com/simmelj">@simmelj</a></li>
               <li><a rel="me" href="https://github.com/simme">GitHub</a></li>
               <li><a rel="feed" href="https://iamsim.me/index.xml">RSS</a></li>
               <li><a rel="feed" href="https://iamsim.me/feed.json">JSON Feed</a></li>
            </ol>
         </nav>
      </footer>

      <script>
         if ('serviceWorker' in navigator) {
           window.addEventListener('load', function() {
             navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
               // Registration was successful
               console.log('ServiceWorker registration successful with scope: ', registration.scope);
             }, function(err) {
               // registration failed :(
               console.log('ServiceWorker registration failed: ', err);
             });
           });
         }
      </script>

   </body>
</html>
