<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>I am Simme</title>
      <link href="https://fonts.googleapis.com/css?family=Oswald:600&amp;subset=latin-ext" rel="stylesheet">
      <link href="/css/master.css" rel="stylesheet">
      <link href="/index.xml" rel="alternate" type="application/rss+xml" title="I am Simme" />
      <link href="/index.xml" rel="feed" type="application/rss+xml" title="I am Simme" />
      <link href="/feed.json" rel="alternate" type="application/json" title="I am Simme" />
   </head>
   <body>

      <section class="main">
         <header class="page-header">
            {{ if .IsHome }}
               <h1 class="page-header-logo">I am Simme</h1>
            {{ else }}
               <a href="/" class="page-header-logo">I am Simme</a>
            {{ end }}
            <p>
               A blog about programming, photography, and what not.
            </p>
         </header>

