$color0: #2d2d2d;
$color1: #393939;
$color2: #515151;
$color3: #747369;
$color4: #a09f93;
$color5: #d3d0c8;
$color6: #e8e6df;
$color7: #f2f0ec;
$color8: #f2777a;
$color9: #f99157;
$colorA: #ffcc66;
$colorB: #99cc99;
$colorC: #66cccc;
$colorD: #6699cc;
$colorE: #cc99cc;
$colorF: #d27b53;

$header-font: 'AvenirNext-Bold', sans-serif;
$body-font: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Segoe', sans-serif;

$max-width: 72rem;
$max-width-text: 64rem;
