@import "variables";
@import "pygments";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
}

@media screen and (max-width: 600px) {
   html {
      font-size: 50%;
   }
}

$font-size-1: 1.3rem;
$font-size-2: 2rem;
$font-size-3: 4.5rem;
$font-size-4: 10.1rem;

body {
   background: $color0;
}

.main {
   max-width: $max-width;
   width: 100%;
   padding: 2rem;
   margin: auto;
}

/* Header */
.page-header {
   width: 100%;
   padding: 0;
   margin: 0 auto 8rem;
   max-width: $max-width-text;

   p {
      font: 400 #{$font-size-2}/1.5 $body-font;
      text-decoration: none;
      color: $colorD;
      opacity: 0.8;
      margin: 0;
   }

}

.page-header-logo {
   font: 600 #{$font-size-4}/1 $header-font;
   margin: 5rem 0 1rem;
   color: $colorB;
   padding: 0;
   text-decoration: none;
   display: block;
}

/* Posts */
.post {
   h1 {
      font: 600 #{$font-size-3}/1 $header-font;
      color: $color8;
      margin: 0 auto 2rem auto;
      padding: 0;
      max-width: $max-width-text;
   }
}

.post-summary {
   margin: 0 auto 10rem;
   max-width: $max-width-text;

   h2 {
      font: 600 #{$font-size-3}/1 $header-font;
      color: $color8;
      margin: 0 0 2rem 0;
      padding: 0;
      a {
         color: inherit;
         text-decoration: none;

         &:hover, &:focus {
            color: $color9;
         }
      }
   }

}

.date {
   color: $color4;
   font: 400 #{$font-size-1}/1.4 $body-font;
   display: block;
   max-width: $max-width-text;
   margin: auto auto 1.2rem;
}

.post, .post-summary {
   p {
      color: $color5;
      font: 500 #{$font-size-2}/1.5 $body-font;
      padding: 0;
      margin: 0 auto 2rem;
      max-width: $max-width-text;
   }
}

.content {
   h1, h2, h3, h4, h5, h6 {
      color: $color9;
      margin: 4rem auto 1.5rem auto;
      padding: 0;
      max-width: $max-width-text;
   }

   h2 { font: 600 #{$font-size-3}/1 $header-font; }
   h3 { font: 600 #{$font-size-3*0.8}/1 $header-font; }
   h4 { font: 600 #{$font-size-3*0.7}/1 $header-font; }
   h5 { font: 600 #{$font-size-3*0.6}/1 $header-font; }

   a {
      color: $colorD;
      text-decoration: none;

      &:focus, &:hover {
         color: $colorF;
      }
   }

   pre {
      background: $color1;
      padding: 1rem;
      display: block;
      overflow-x: scroll;
      border-radius: 4;
      margin: 4rem 0;
      font-size: 62.5%;
      code {
         font: 400 1.2rem/1.3 'SFMono', 'Source Code Pro', 'Andale Mono', 'Monaco', monospace;
      }
   }

   code {
      font: 400 #{$font-size-2}/1.3 'SFMono', 'Source Code Pro', 'Andale Mono', 'Monaco', monospace;
      color: $color6;
      background: $color1;
      border-radius: 4px;
      display: inline-block;
      padding: 0.1rem 0.4rem;
   }

   ol, ul {
      color: $color5;
      font: 400 #{$font-size-2}/1.5 $body-font;
      padding: 1.2rem 0 1.2rem 4rem;
      margin: auto;
      list-style-position: outside;
      max-width: $max-width-text;
   }

   blockquote {
      border-left: 3px solid $colorA;
      padding: 1rem;
      margin: 3rem auto;
      max-width: $max-width-text * 0.9;
   }
}

a.read-more {
      font: 400 #{$font-size-2}/1.4 $body-font;
      color: $colorA;
      text-decoration: none;
      border-bottom: 1px solid $colorA;

      &:focus, &:hover {
         border-bottom: 0;
         color: $colorD;
      }
}

/* Footer */
.page-footer {
   display: flex;
   max-width: $max-width-text;
   justify-content: space-between;
   width: 100%;
   padding: 4rem 0 6rem;
   margin: auto;
   color: $color4;
   font: 400 1.6rem/1.5 $body-font;

   nav {
      flex-shrink: 0;
   }

   nav ol {
      display: flex;
      list-style: none;

      li {
         margin-left: 1.6rem;
      }
   }

   a {
      color: $colorD;
      text-decoration: none;

      &:focus, &:hover {
         color: $colorF;
      }
   }
}

@media screen and (max-width: #{$max-width}) {
   .page-footer {
      flex-direction: column;
      padding: 2rem;
   }
}

/* Pagination */
.pagination {
   max-width: $max-width-text;
   text-align: center;
   font: 400 #{$font-size-2}/1.5 $body-font;
   margin: 5rem auto;
   color: $color4;
}

   .post-list-pagination {
      display: flex;
      justify-content: space-between;

      a {
         color: $colorD;
         text-decoration: none;

         &:focus, &:hover {
            color: $colorF;
         }
      }
   }

   .pagination-newer:before {
      content: "‹";
   }

   .pagination-older:after {
      content: "›";
   }

/* images */
.post img {
   max-width: 100%;
   margin: 4rem auto;
}
