{{ partial "header.html"}}
{{ $paginator := .Paginate (where .Site.Pages "Type" "in" (slice "post" "microblog" "link"))}}
{{ range sort $paginator.Pages }}
<article class="post-summary{{ if eq .Section "microblog"}} microblog{{end}}{{ if eq .Section "link"}} link{{end}}">
      <a class="date" href="{{ .Permalink }}">
         <span>{{ .Date.Format "January 2, 2006" }}</span>
      </a>
      {{ if eq .Section "link" }}
         <h2><a href="{{ .Params.link }}">{{ .Title }}</a></h2>
      {{ else if ne .Section "microblog"}}
         <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      {{ end }}
      <div class="content">
         <p>
            {{ .Summary | plainify | safeHTML }}
         </p>
        {{ if .Truncated }}
         <a class="read-more" href="{{ .Permalink }}">Read more...</a>
        {{ end }}
      </div>
      {{ if eq .Section "link" }}
         <a class="read-more" href="{{ .Permalink }}">Permalink</a>
      {{ end }}
    </article>
    {{ end }}
   <div class="pagination">
     <nav role="pagination" class="post-list-pagination">
         {{ if $paginator.HasPrev }}
         <a href="{{$paginator.Prev.URL}}" class="pagination-newer">
           Newer
         </a>
         {{ else }}
            <div class="pagination-dummy"></div>
         {{ end }}
       <div class="pagination-count">Page {{$paginator.PageNumber}} of {{$paginator.TotalPages}}</div>
       {{ if $paginator.HasNext }}
         <a href="{{$paginator.Next.URL}}" class="pagination-older">
           Older
         </a>
         {{ else }}
            <div class="pagination-dummy"></div>
       {{ end }}
     </nav>
   </div>
{{ partial "footer.html"}}
