{{ partial "header.html"}}
{{ range sort .Paginator.Pages }}
    <article class="post-summary">
      <a href="{{ .Permalink }}">
         <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
      </a>
      <h2 class="p-name">
         <a href="{{ .Permalink }}">
            {{ .Title }}
         </a>
      </h2>
      <div class="content p-summary">
         <p>
            {{ .Summary | plainify | safeHTML }}
         </p>
        {{ if .Truncated }}
         <a class="read-more" href="{{ .Permalink }}">Read more...</a>
        {{ end }}
      </div>
    </article>
    {{ end }}
{{ partial "footer.html"}}
